.gearselect {
	height:168px;
	width:168px;
}
#helm {
	background-image:url('/images/build/helm.png');
}
#chest {
	background-image:url('/images/build/chest.png');
}
#gloves {
	background-image:url('/images/build/gloves.png');
}
#boots {
	background-image:url('/images/build/boots.png');
}
#weapon {
	background-image:url('/images/build/weapon.png');
}
#ornament {
	background-image:url('/images/build/ornament.png');
}
#ring {
	background-image:url('/images/build/ring.png');
}
#necklace {
	background-image:url('/images/build/necklace.png');
}

#section_detail select{
	display:none;
}