.gearselect {
	height:168px;
	width:168px;
}
#helm {
	background-image:url('/images/build/helm.png');
}
#chest {
	background-image:url('/images/build/chest.png');
}
#gloves {
	background-image:url('/images/build/gloves.png');
}
#boots {
	background-image:url('/images/build/boots.png');
}